@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: rgb(51, 139, 240);
    height: 125px;
   
}
.mes{
    color: whitesmoke;
    text-shadow: 3px 2px 2px black;
    text-align: center;
    padding-top: 25px;
    font-size: 2.5em;
}
.bloco1{
    background-color: whitesmoke;
    min-height: 500px;
    max-height: 1000px;
    padding: 30px;
    padding-top: 100px;
    box-shadow: inset 0px 0px 8px black;
}
.ar1{
    margin: auto;
    min-height: 200px;
    max-height: 700px;
    min-width: 200px;
    max-width: 700px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}
h2{
    text-align: center;
    padding: 10px;
    font-weight:bolder;
    font-size: 1.5em;
}
p{
    padding-top: 15px;
    text-align: justify;
    font-size: 1.3em;
}
.bloco2{
    background-image: url(/html/FotoComMinhaGata.jpeg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    height: 500px;
    background-attachment: fixed;
}
.bloco3{
    min-height: 500px;
    max-height: 1000px;
}
/*carta*/
.card{
    padding-top:50px ;
    margin: auto;
    min-width: 200px;
    max-width: 300px;
   min-height: 350px;
   max-height: 500px;
   position: relative;
    perspective: 500px;

}
.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid blue;
    box-shadow: 0px 0px 8px blue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.front{
    background-color: #000000;
    color: white;
}
.back{
    background-color:#ffffff;
    transform: rotateY(-180deg);
    text-align: justify;
    padding: 15px;
}

.card:hover .front{
    transform: rotateY(180deg);
    transition-duration: 0.5s;

}
.card:hover .back{
    transform: rotateY(0);
    transition-duration: 0.5s;
}
.mpag2{
    position: relative;
    background-color: whitesmoke;
    height: 100%;
    min-height: 600px;
    padding-top: 100px;
    padding: 50px;
}
.card p{
    font-size: 1.5em;
    font-weight: 700;
}
.bodicd>main{
    min-height: 500px;
    max-height: 2000px;

}
.bloco4{
    min-height: 250px;
    max-height: 400px;
    box-shadow:inset 0px 0px 8px black;
}
.msc{
    padding-left: 80px;
    margin: auto;
    min-height: 100px;
    max-height:200px;
    min-width: 100px;
    max-width: 500px;
    padding: 25px;
}
.ultp{
    font-weight: bolder;
    text-align: center;
}